﻿@model IEnumerable<Core_Crud_MVC.Models.NewEmpClass>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleados</h1>

<form>
    <p>
        @Html.TextBox("busqueda", @ViewData["GetEmployeeDetails"], new { @class = "form-control", name = "busqueda", placeholder = "Ingrese algo para buscar" });
        @*<input type="search" placeholder="Criterio de búsqueda" value="@ViewData["GetEmployeeDetails"]" name="busqueda" />*@
        <input type="submit" value="Buscar" class="btn btn-primary" />
        <a asp-action="Index"> Todos los empleados </a>
    </p>
</form>

<p>
    <a asp-action="Create">Registrar Empleado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmpName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmpName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.EmpId }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.EmpId }) |
                @Html.ActionLink("Eliminar", "Delete", new { id=item.EmpId })
            </td>
        </tr>
}
    </tbody>
</table>
